.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .content {
  padding: 24px 24px 0;
  display: flex;
  flex: 1;
}

.outletWrapper {
  min-height: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.footer {
  text-align: center;
}

@media (max-width: 576px) {
  .authContainer {
    margin: 20px 0;
  }

  .formWrapper {
    min-width: auto;
  }
} */
